body {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
  font-size: 100%;
}

a {
  color: #227CE8;
}

a:hover {
  color: #F70;
  text-decoration: none;
}

#main {
	width: 42em;
	margin: 0 auto;
}
